{{#each products}}
    <div class="col-lg-4" style="margin: 10px 0">
        <div class="team-item">
            <div class="thumb">
                <div class="hover-effect">
                    <div class="inner-content">
                        <ul>
                            <li><a href="#details" style="width: 100px;">Details</a></li>
                        </ul>
                    </div>
                </div>
                <img src={{image}} alt={{title}} style="width: 350px; height: 500px"/>
            </div>
            <div class="down-content">
                <h4 style="width: 350px; height: 90px">{{title}}</h4>
                {{!-- <span>{{description}}</span> --}}
                <h6>${{price}}</p>
            </div>
        </div>
    </div>
{{else}}
    <h4>No products yet.</h4>
{{/each}}