<!-- ***** Main Banner Area Start ***** -->
<div class="page-heading about-page-heading" id="top">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="inner-content">
                    <h2>{{title}}</h2>
                    <span style="font-size: 20px">Be awesome. Be neat.</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ***** Main Banner Area End ***** -->

<!-- ***** Contact Area Starts ***** -->
<div class="contact-us">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <img src={{image}} alt={{title}} style="width: 400px; height: 550px">
            </div>
            <div class="col-lg-6">
                <div class="section-heading" style="width: 500px;">
                    <h2 style="margin: 10px 0">{{title}}</h2>
                    <span style="margin: 10px 0">{{description}}</span>
                    <h4 style="margin: 10px 0">$ {{price}}</h4>
                    <button id="buy">Buy</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ***** Contact Area Ends ***** -->